<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Respuestas Encuesta</h3>
        </div>
        <div class="container">
            <button (click)="newSurvey()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Numero Documento</th>
                        <th>Correo</th>
                        <th>Comentarios</th>
                        <th>Marca PC</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let survey of surveys">
                        <td>{{survey.id}}</td>
                        <td>{{survey.documentNumber}}</td>
                        <td>{{survey.email}}</td>
                        <td>{{survey.comments}}</td>
                        <td>{{survey.brand.name}}</td>
                        <td>{{survey.responseDate | date:'longDate'}}</td>
                        <td>
                            <button (click)="deleteSurvey(survey)" class="btn btn-danger">Eliminar</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>